@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-textColor-200 pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-textColor-200 max-sm:rounded-full;
  }
}

@layer utilities {
  .padding { 
    @apply sm:px-16 px-8 sm:py-24 py-12; /* General padding for normal and samll devices*/
  }

  .padding-x {
    @apply sm:px-16 px-8; /* x padding for normal and samll devices */
  }

  .padding-y {
    @apply sm:py-24 py-12; /* y padding for normal and samll devices */
  }

  .padding-l {
    @apply sm:pl-16 pl-8; /*  left padding for normal and samll devices */
  }

  .padding-r {
    @apply sm:pr-16 pr-8; /* right padding for normal and samll devices */
  }

  .padding-t {
    @apply sm:pt-24 pt-12;/* top padding for normal and samll devices */
  }

  .padding-b {
    @apply sm:pb-24 pb-12;/* bottom padding for normal and samll devices */
  }

  .info-text {
    @apply font-raleway text-white text-lg leading-7;
  }

  .test{
    position: relative;
  }
  
  .test::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    z-index: -1;
    background-color: #0AE8FE;
    transition: 0.2s;
  }

  .test:hover::before{
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  }

  .transition-normal{
    transition: all 0.2s;
  }
}
